Busqueda.xml

<!-- Daimery Quintero Gonzalez -->
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- Tipo Cita que describe los atributos de una cita médica -->
    <xs:complexType name="CitaType">
        <xs:sequence>
            <xs:element name="ID_Cita" type="xs:int"/>
            <xs:element name="ID_Paciente" type="xs:string"/>
            <xs:element name="ID_Doctor" type="xs:string"/>
            <xs:element name="FechaCita" type="xs:dateTime"/>
            <xs:element name="Estado" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definición para la búsqueda de citas médicas -->
    <xs:complexType name="BusquedaCitasType">
        <xs:sequence>
            <xs:element name="ID_Paciente" type="xs:string" minOccurs="0"/>
            <xs:element name="ID_Doctor" type="xs:string" minOccurs="0"/>
            <xs:element name="FechaCita" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Resultado que incluye una lista de citas -->
    <xs:complexType name="ResultadoCitasType">
        <xs:sequence>
            <xs:element name="Citas" type="CitaType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Operaciones disponibles -->
    <xs:element name="GestionCitasMedicas">
        <xs:complexType>
            <xs:sequence>
                <!-- Búsqueda de citas con parámetros opcionales -->
                <xs:element name="BuscarCitas" type="BusquedaCitasType"/>
                <!-- Resultado de la consulta con una lista de citas -->
                <xs:element name="ResultadoCitas" type="ResultadoCitasType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
