UCMEC.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- Definición del tipo de operación de crear cliente -->
    <xs:complexType name="CrearClienteRequestType">
        <xs:sequence>
            <xs:element name="Cliente" type="ClienteType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CrearClienteResponseType">
        <xs:sequence>
            <xs:element name="Mensaje" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definición del tipo de operación de consultar clientes -->
    <xs:complexType name="ConsultarClientesResponseType">
        <xs:sequence>
            <xs:element name="Clientes">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="U-[0-9]{5}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Definición del tipo de operación de modificar cliente -->
    <xs:complexType name="ModificarClienteRequestType">
        <xs:sequence>
            <xs:element name="UsuarioID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="U-[0-9]{5}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ModificarClienteResponseType">
        <xs:sequence>
            <xs:element name="Mensaje" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definición del tipo de operación de eliminar cliente -->
    <xs:complexType name="EliminarClienteRequestType">
        <xs:sequence>
            <xs:element name="UsuarioID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="U-[0-9]{5}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EliminarClienteResponseType">
        <xs:sequence>
            <xs:element name="Mensaje" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
