UsuarioN.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- Definición del tipo Paciente -->
    <xs:complexType name="PacienteType">
        <xs:sequence>
            <xs:element name="PacienteID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="P-[0-9]{5}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Nombre">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Apellido">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="FechaNacimiento" type="xs:date"/>
            <xs:element name="Genero">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Masculino"/>
                        <xs:enumeration value="Femenino"/>
                        <xs:enumeration value="Otro"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Telefono">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="52 \d{3} \d{3} \d{4}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CorreoElectronico">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Direccion">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="HistorialMedicoID">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Especialidad" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="HospitalID" minOccurs="0" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definición del elemento CrearUsuario -->
    <xs:element name="CrearUsuario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Paciente" type="PacienteType"/>
            </xs:sequence>
        </xs:complexType>
        <xs:element name="Regresa" type="xs:string"/>
    </xs:element>

    <!-- Definición del elemento ModificarUsuario -->
    <xs:element name="ModificarUsuario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PacienteID" type="xs:string"/>
                <xs:element name="Paciente" type="PacienteType" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definición del elemento EliminarUsuario -->
    <xs:element name="EliminarUsuario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PacienteID" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definición del elemento ConsultarUsuario -->
    <xs:element name="ConsultarUsuario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PacienteID" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
        <xs:element name="Regresa" type="PacienteType"/>
    </xs:element>

</xs:schema>
